<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.qub.eeecs.pranc.kingsofqueens">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        !--SPLASH ACTIVITY--!
        <activity
            android:name=".gage.game.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>





        !--MAIN ACTIVITY--!
        <activity
            android:name=".gage.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>




        !--GAME OVER ACTIVITY--!
        <activity
            android:name=".gage.game.GameOverScreen"
            android:label="Kings of Queens"
            android:screenOrientation="landscape" />
    </application>

</manifest>